<!DOCTYPE html>
<html dir="rtl">
    <head>

    </head>
    <body>
        <h1>רק עוד כמה פרטים אחרונים</h1>
        <form action="/not-found" target="_self" method="post">
            <h1>מה התחביבים שלך?</h1>
            <h2>על מנת לעזור לנו לבצע התאמה טובה יותר, אנא מלאו את הטופס הבא</h2>
            <input type="checkbox" id="art" value="אמנות - שירה, מוזיקה, ציור, כתיבה ועד">
            <label for="art">אמנות - שירה, מוזיקה, ציור, כתיבה ועד</label>
            <br>
            <input type="checkbox" id="sports" value="לעשות ספורט - כדורגל, כדורסל וכל ענף ספורט אחר">
            <label for="sports">ספורט - כדורגל, כדורסל וכל ענף ספורט אחר</label>
            <br>
            <input type="checkbox" id="collecting" value="אספנות - אהבה ליצירת אוספים של חפץ מסויים מסוגים רבים">
            <label for="collecting">אספנות - אהבה ליצירת אוספים של חפץ מסויים מסוגים רבים</label>
            <br>
            <input type="checkbox" id="media" value="מדיה - צפייה בסרטים או בטלוויזיה, יצירת תוכן ברשתות חברתיות ועוד">
            <label for="media">מדיה - צפייה בסרטים או בטלוויזיה, יצירת תוכן ברשתות חברתיות ועוד</label>
            <br>
            <input type="checkbox" id="programming" value="תכנות - אהבה לתכנות, בניית אתרים ובניית משחקים">
            <label for="programming">תכנות - אהבה לתכנות, בניית אתרים ובניית משחקים</label>
            <br>
            <input type="checkbox" id="trips" value="לטייל - בטבע או בכללי">
            <label for="trips">לטייל - בטבע או בכללי</label>
            <br>
            <input type="checkbox" id="reading" value="קריאה">
            <label for="reading">קריאה</label>
            <br>
            
        </form>
    </body>
</html>